body {
    display: inline-block;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

/*GRID CONTAINER*/
.wrapper {
    height: 100%;
    display: grid;
    grid-template-rows: auto 117px 2fr 181px;
    grid-template-areas:
            "nav-bar"
            "error-message"
            "main-page"
            "bottom";
}

/*NAV BAR START*/
.nav {
    grid-area: nav-bar;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

li:nth-child(1) {
    display: flex;
    align-items: center;
    margin-right: auto;
    padding: 1em;
}

.bbc-logo {
    height: 2em;
    width: 110px;
    transition: width 1s;
}

.nav-links {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    border-color: gray;
    border-width: 2px;
    border-style: solid;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    width: 100px;
    transition: width 1s;
}

.list-anchor {
    text-decoration: none;
    color: black;
    padding: .5em;
}

.bbc-logo:hover,
.nav-links:hover {
    width: 125px;
}

a:hover {
    color: #a411a1;
}

/*404 ERROR START*/
.error {
    background-color: #5552c9;
    grid-area: error-message;
    display: flex;
    align-items: center;
    font-size: 2em;
    color: white;
}

/*.error-color {*/
/*    background-color: #4e4ba4;*/
/*    grid-row: ;*/
/*    z-index: -1;*/
/*}*/

/*MAIN START*/
main {
    grid-area: main-page;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    height: 20.9px;

}

i:hover {
    color: #00f0ff;
}

/*FOOTER START*/
footer {
    background-color: #4C4C4C;
    grid-area: bottom;
}

/*.footer-color {*/
/*    background-color: #4C4C4C;*/
/*    grid-row: ;*/
/*}*/