body {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 5vh 10vh 1fr 15vh;
}

.nav {
    grid-area: 1 / 2 / 2 / 3;
}

.error {
    background-color: #4e4ba4;
    grid-area: 2 / 2 / 3 / 3;
}

.error-color {
    background-color: #4e4ba4;
    grid-area: 2 / 1 / 3 / 5;
    z-index: -1;
}

main {
    grid-area: 3 / 2 / 4 / 3;
}

footer {
    background-color: #4C4C4C;
    grid-area: 4 / 2 / 5 / 3;
}

.footer-color {
    background-color: #4C4C4C;
    grid-area: 4 / 1 / 5 / 5;
}