body {
    background-color: black;
    margin: 50px;
}

section {
    width: 55%;
    margin: auto;
}

.box1 {
    background-color: #07079a;
    height: 600px;
    width: 300px;
    float: left;
    border-radius: 5px 0 0 5px;
}

.box2 {
    background-color: #f1f1f1;
    height: 300px;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.box3 {
    background-color: #b50101;
    height: 300px;
    width: 100%;
    border-radius: 5px 0 5px 5px;
}

.star {
 position: relative;
    top: 200px;
    left: 50px;
}

#star-five {
    margin: 50px 0;
    position: relative;
    display: block;
    color: white;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid white;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
}
#star-five:before {
    border-bottom: 80px solid white;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
}
#star-five:after {
    position: absolute;
    display: block;
    color: white;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid white;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
}